<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Editar Contato</title>
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">    
        <link rel="stylesheet" href="stylesheets/sticky-footer.css">
    </head>
    <body>
        <h1>Um erro ocorreu... :(</h1>
        <p><%-err.message%></p>
                
        <%include footer%>
    </body>
</html>