<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>NTalk - Agenda de contatos</title>
		<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="stylesheets/signin.css">

	</head>
	<body>

		<header class="text-center">
			<h1><strong>NTalk</strong></h1>
			<h4>Bem vindo</h4>
		</header>	
		<section>
			<form class="form-signin" action="/login" method="post">
				<input type="nome" class="form-control" placeholder="Nome" name="nome" required autofocus>
				<input type="email"class="form-control" placeholder="email" name="email" required>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			</form>
		</section>


		<footer class="text-center">
			<small>NTalk - Agenda de contatos</small>
		</footer>
	</body>
</html>

